.About {
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  text-align: justify;
  float: top;
}

.List-title {
  font-family: 'Nunito', sans-serif;
  color: #1C5D9B;
  font-size: 34px;
}
.List-item {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  text-decoration: none;
}
